.product-info {
  background: #25b398;
  height: 270px;
  padding: 0 1rem;
  position: relative; }
  .product-info header {
    width: 100px;
    height: 100px; }

.product {
  color: white; }
  .product .product-name {
    font-size: 48px;
    text-align: center; }
  .product .product-location {
    font-size: 20px;
    text-align: center; }
  .product .product-details {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px; }
  .product .product-image {
    width: 200px;
    position: relative;
    box-shadow: 0.06rem 0.06rem 0.15rem rgba(0, 0, 0, 0.4); }

.clearfix:after, .clearfix:before {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden; }

.clearfix:before {
  content: ','; }
